In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from matplotlib import pyplot as plt

import seaborn as sns
import scipy.cluster.hierarchy as sch
from sklearn.cluster import AgglomerativeClustering

import warnings
warnings.filterwarnings("ignore")

In [29]:
airlines=pd.read_excel("/Users/shreyasingh/Downloads/Clustering/EastWestAirlines.xlsx",sheet_name='data')
airlines.head(5)

,ID#,Balance,Qual_miles,cc1_miles,cc2_miles,cc3_miles,Bonus_miles,Bonus_trans,Flight_miles_12mo,Flight_trans_12,Days_since_enroll,Award?
0,1,28143,0,1,1,1,174,1,0,0,7000,0
1,2,19244,0,1,1,1,215,2,0,0,6968,0
2,3,41354,0,1,1,1,4123,4,0,0,7034,0
3,4,14776,0,1,1,1,500,1,0,0,6952,0
4,5,97752,0,4,1,1,43300,26,2077,4,6935,1

In [ ]:
airlines.info()

In [ ]:
airlines.describe()

In [ ]:
le=LabelEncoder()

airlines.iloc[:,0]=le.fit_transform(airlines.iloc[:,0])
airlines.head(5)

In [ ]:
airlines[airlines.duplicated()].shape

In [ ]:
airlines.isnull().sum()

In [ ]:
plt.figure(figsize=(15,5))
plt.subplot(131)
sns.distplot(airlines['Balance'])

plt.subplot(132)
sns.distplot(airlines['Bonus_miles'])

plt.subplot(133)
sns.distplot(airlines['Days_since_enroll'])

In [ ]:
plt.figure(figsize=(15,5))
plt.subplot(1,3,1)
x=plt.boxplot(airlines['Balance'])

plt.subplot(1,3,2)
y=plt.boxplot(airlines['Bonus_miles'])

plt.subplot(1,3,3)
plt.boxplot(airlines['Days_since_enroll'])

In [ ]:
[i.get_ydata() for i in x['fliers']]

In [ ]:
[i.get_ydata() for i in y['fliers']]

In [ ]:
def norm_func (n):
  g=(n-n.min())/(n.max()-n.min())
  return g

In [ ]:
airlinesf=norm_func(airlines)

In [ ]:
airlines.head(10)

In [ ]:
plt.figure(figsize=(40,40))
dendrogram=sch.dendrogram(sch.linkage(airlinesf,method='complete'))

In [ ]:
hcc = AgglomerativeClustering(n_clusters=5, affinity='euclidean', linkage='complete')

In [ ]:
hcc

In [ ]:
hcc_y=hcc.fit_predict(airlinesf)

In [ ]:
hcc_y

In [ ]:
airlines['Cluster ID']=hcc_y

In [ ]:
airlinesf

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

scaled_airlines=scaler.fit_transform(airlinesf.iloc[:,1:])

In [ ]:
scaled_airlines

In [ ]:
for i in range(1,4):
  print(i)

In [ ]:
kmeans=KMeans(n_clusters=4,random_state=0)
kmeans.fit(scaled_airlines)
inertia=[]
inertia.append(kmeans.inertia_)

In [ ]:
inertia

In [ ]:
kmeans.inertia_

In [ ]:
inertia=[]
for i in range(1,11):
  kmeans=KMeans(n_clusters=i,random_state=0)
  kmeans.fit(scaled_airlines)
  inertia.append(kmeans.inertia_)
  if i>2 :
    break

In [ ]:
inertia

In [ ]:
inertia = []
for i in range(1,11):
    kmeans = KMeans(n_clusters=i,random_state=0)
    kmeans.fit(scaled_airlines)
    inertia.append(kmeans.inertia_)

plt.plot(range(1,11),inertia)
plt.title('Elbow Method')
plt.xlabel('Number of Clusters')
plt.ylabel('Inertia')
plt.show()

In [ ]:
clusters_new=KMeans(5,random_state=42)
clusters_new.fit(scaled_airlines)

In [ ]:
clusters_new.labels_

In [ ]:
airlinesf['KMeans Cluster ID']=clusters_new.labels_

In [ ]:
airlines.head(10)

In [ ]:
airlinesf.groupby('KMeans Cluster ID').agg(['mean']).reset_index()

In [ ]:
(airlinesf[airlinesf['KMeans Cluster ID']==0]).value_counts().sum()

In [ ]:
for i in range(0,5):
    n = airlinesf[airlinesf['KMeans Cluster ID']==i].value_counts().sum()
    print('Cluster No','-', i, ';' , 'Count','-',n)
    print('_____________________________________________________________________________')
    print('\n', airlinesf[airlinesf['KMeans Cluster ID']==i] )
    print('___________________________________________________________')

In [ ]:
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler

In [ ]:
array=airlinesf.values
array

In [ ]:
ss=StandardScaler()
x=ss.fit_transform(array)

In [ ]:
x

In [ ]:
dbscan=DBSCAN(eps=3,min_samples=3)
dbscan.fit_predict(x)

In [ ]:
dbscan.labels_

In [ ]:
cl = pd.DataFrame(dbscan.labels_,columns=['DBSCAN cluster'])
cl

In [ ]:
airlinesf['DBSCAN Clusters'] = dbscan.labels_

In [ ]:
airlinesf

In [ ]:
for i in range(0,2):
    n = airlinesf[airlinesf['DBSCAN Clusters']==i].value_counts().sum()
    print('Cluster No','-', i, ';' , 'Count','-',n)
    print('_____________________________________________________________________________')
    print('\n', airlinesf[airlinesf['DBSCAN Clusters']==i] )
    print('____________________________________________________')

In [ ]:
airlinesf.head(2)